<!--The content below is only a placeholder and can be replaced.-->
<div class="grid-block" style="background-image: url('../assets/fondo-cabecera.jpg'); width: 100%; height: 120vh; ">
    <div class="container">
        <div style="text-align:center; color:rgb(247, 242, 242);">
            <h1>
                Bienvenido a {{ title }}!
            </h1>
            <img width="250" alt="Angular Logo" src="../assets/blog_diseno.jpg">
        </div>
        <br>
        <div class="jumbotron" style="width: 70%;">
            <h1 class="display-4">Los articulos mas exitosos!</h1>
            <p class="lead">Registrese y lee los mas grandiosos Articulos.</p>
            <hr class="my-4">
            <p>Puedes encontrar gran variedad de articulos de diferentes categorias</p>

            <div class="" style="text-align:center">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="register">Registrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="start">Iniciar Sesion</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>