<div class=container>
    <div id="ccomment-comment-18" class="ccomment-comment-content">
        <div class="ccomment-data">
            <div class="ccomment-avatar">
                <img src="https://secure.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?default=mm&amp;s=64">
            </div>
            <div class="ccomment-content">
                <div class="ccomment-meta">
                    <span class="ccomment-author">{{comment.user.nickname}}</span>
                    <a href="#!/ccomment-comment=18" class="muted ccomment-created"> {{comment.timestamp}}</a>
                </div>
                <div>
                    <div class="ccomment-quote-text">

                        <div class="ccomment-quote-text-body">{{comment.comment}}

                        </div>
                    </div>

                </div>
                <!---->
                <!---->
                <div class="ccomment-actions">

                    <button class="btn btn-small ccomment-quote btn-link">Citar</button>
                    <button class="btn btn-small ccomment-reply btn-link">Responder</button>
                    <div class="pull-right ccomment-moderation">
                        <!---->
                    </div>
                </div>
            </div>
        </div>
        <!---->
    </div>
</div>
<!-- /container -->