<div class=container>
    <div id="ccomment-comment-18" class="ccomment-comment-content">
        <div class="ccomment-data">
            <div class="ccomment-avatar">
                <img src="https://secure.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?default=mm&amp;s=64">
            </div>
            <div class="ccomment-content" *ngIf="!editComment">
                <div class="ccomment-meta">
                    <span class="ccomment-author">{{comment.user.nickname}}</span>
                    <a href="#!/ccomment-comment=18" class="muted ccomment-created"> {{comment.timestamp}}</a>
                </div>
                <div>
                    <div class="ccomment-quote-text">

                        <div class="ccomment-quote-text-body">{{comment.comment}}

                        </div>

                    </div>

                </div>
                <!---->
                <!---->
                <div class="ccomment-actions">

                    <button [disabled]="edit" class="btn btn-small ccomment-quote btn-link" (click)="editarComment()">Editar</button>
                    <div class="pull-right ccomment-moderation">
                        <!---->
                    </div>
                </div>
            </div>

            <div class="ccomment-content" *ngIf="editComment">
                <div class="ccomment-meta">
                    <span class="ccomment-author">{{comment.user.nickname}}</span>
                    <a href="#!/ccomment-comment=18" class="muted ccomment-created"> {{comment.timestamp}}</a>
                </div>
                <div>
                    <div class="ccomment-quote-text">

                        <div class="ccomment-quote-text-body">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" value={{comment.comment}} [(ngModel)]="commentEdit"></textarea>


                        </div>
                    </div>

                </div>
                <!---->
                <!---->
                <div class="ccomment-actions">

                    <button class="btn btn-small ccomment-quote btn-link" (click)="saveComment()">Salvar</button>
                    <div class="pull-right ccomment-moderation">
                        <!---->
                    </div>
                </div>
            </div>
        </div>
        <!---->
    </div>
</div>
<!-- /container -->