<div class="container">


    <!-- Blog Post -->
    <div class="card mb-12">
        <img class="card-img-top" src="../assets/fondo-cabecera.jpg" alt="Card image cap">
        <div class="card-body" *ngIf="!editPost">
            <h2 class="card-title">{{post.title}}</h2>
            <p class="card-text">{{post.text}}</p>
            <button [disabled]="edit" class="btn btn-secondary" type="button" (click)="editarPost()">Editar</button>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Comentarios</h3>
                    </div>
                    <!-- /col-sm-12 -->
                </div>

                <app-comments *ngFor="let commentPadre of post.comments" [comment]="commentPadre"></app-comments>
            </div>
        </div>
        <div class="card-body" *ngIf="editPost">
            <input class="form-control form-control-lg" type="text" value={{post.title}} [(ngModel)]="title">
            <br>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" value={{post.text}} [(ngModel)]="body"></textarea>
            <br>
            <button class="btn btn-secondary" type="button" (click)="savePost()">Salvar</button>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Comentarios</h3>
                    </div>
                    <!-- /col-sm-12 -->
                </div>

                <app-comments *ngFor="let commentPadre of post.comments" [comment]="commentPadre"></app-comments>
            </div>
        </div>
        <div class="card-footer text-muted">
            publicado el {{post.timestamp}} por
            <a>{{post.user.nickname}}</a>



        </div>
    </div>

</div>
<br>